@{
    ViewBag.Title = "createAssessment";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {

        $("#form-add-assessment").validationEngine();

        $("#datetimepicker1").datepicker(
           { dateFormat: "dd-mm-yy" }
        );
        $("#datetimepicker2").datepicker(
           { dateFormat: "dd-mm-yy" }
        );
        $("#datetimepicker3").datepicker(
           { dateFormat: "dd-mm-yy" }
        );
    });
</script>
<div class="row clearfix">
    <div class="col-md-12 column">

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">Add Assessment</h4>
            </div>
            <div class="panel-body">


                @using (Html.BeginForm("add_assessment", "Assessment", FormMethod.Post, new { id = "form-add-assessment" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment Name</label></div>
                            <div class="col-md-10">
                                <input type="text" class="form-control validate[required]" value="" placeholder="" id="assessment-name" name="assessment-name" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Description</label></div>

                            <div class="col-md-10">
                                <input type="text" class="form-control validate[required]" value="" placeholder="" id="assessment-desc" name="assessment-desc" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment Created</label></div>
                            <div class="col-md-5">
                                <div class='input-group date'>
                                    <input type='text' class="form-control validate[required]" id='datetimepicker1' name="assessment-created" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment Started</label></div>
                            <div class="col-md-5">
                                <div class='input-group date'>
                                    <input type='text' class="form-control validate[required]" id='datetimepicker2' name="assessment-started" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment End Date</label></div>

                            <div class="col-md-5">
                                <div class='input-group date'>
                                    <input type='text' class="form-control validate[required]" id='datetimepicker3' name="assessment-ended" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment Type</label></div>
                            <div class="col-md-5">
                                <select id="assessment-div" name="assessment-div" class="form-control">
                                    <option value="1">Learning Assessment</option>
                                    <option value="2">Psycometric Assessment</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Display Type</label></div>
                            <div class="col-md-5">
                                <select id="assessment-type" name="assessment-type" class="form-control">
                                    <option value="3">Both</option>
                                    <option value="1">Post</option>
                                    <option value="2">Pre</option>
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Assessment Template</label></div>
                            <div class="col-md-5">
                                <select id="assessment-group" name="assessment-group" class="form-control" onchange="show_div(this.value)">
                                    <option value="1">Question & Answer</option>
                                    <option value="2">Question & Answer (no right answer)</option>
                                    <option value="3">Range </option>
                                    <option value="4">Rank </option>

                                </select>
                            </div>
                            <div class="col-md-5">
                                <div id="ass-temp">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Max Attempt</label></div>
                            <div class="col-md-5">
                                <input type="text" class="form-control validate[required,custom[onlyNumberSp]]" value="0" placeholder="maximum number of attempt for assessment, 0 for unlimited" id="max-attempt" name="max-attempt" />
                            </div>
                            <div class="col-md-5">                             
                            </div>
                        </div>
                        
                        <div class="form-group" id="div-ans-display">
                            <div class="col-md-2"><label class="control-label">Right Answer Display required </label></div>
                            <div class="col-md-5">
                                <select id="answer-display" name="answer-display" class="form-control">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>

                        <div id="VKN" style="display:none;">
                            <hr />
                            <div class="form-group">
                                <div class="col-md-2"><label class="control-label">No of scoring key</label></div>
                                <div class="col-md-5">
                                    <select id="no-of-key-vak" name="no-of-key-vak" class="form-control" onchange="generate_scoring_key(this.value)">
                                        <option value="2">2 scoring key</option>
                                        <option value="3">3 scoring key</option>
                                        <option value="4">4 scoring key</option>
                                        <option value="5">5 scoring key</option>
                                    </select>
                                </div>
                            </div>
                            <div id="scoring_key">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"><label class="control-label">Add Scoring Key</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-1" id="t-scoring-key-1" placeholder="scoring key 1" rows="2"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-2" id="t-scoring-key-2" placeholder="scoring key 2" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>

                        <div id="range" style="display:none;">
                            <hr />
                            <div id="scoring_key">
                                <div class="row">
                                    <div class="col-md-2">

                                        <input type="text" class="form-control validate[required,custom[onlyNumberSp]]" name="low-value" id="high-value" placeholder="Lower Range Value" />

                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control validate[required]" name="low-value-title" id="low-value-title" placeholder="Lower Range Title" />
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2">

                                        <input type="text" class="form-control validate[required,custom[onlyNumberSp]]" name="high-value" id="high-value" placeholder="High Range Value" />

                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control validate[required]" name="high-value-title" id="high-value-title" placeholder="High Range Title" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-2"><label class="control-label">No of scoring key</label></div>
                                <div class="col-md-5">
                                    <select id="no-of-key-range" name="no-of-key-range" class="form-control" onchange="generate_scoring_key_range(this.value)">
                                        <option value="2">2 scoring key</option>
                                        <option value="3">3 scoring key</option>
                                        <option value="4">4 scoring key</option>
                                        <option value="5">5 scoring key</option>
                                    </select>
                                </div>
                            </div>
                            <div id="scoring_key_range">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"><label class="control-label">Add Scoring Key</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-1" id="t-scoring-key-1" placeholder="scoring key 1" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-2" id="t-scoring-key-2" placeholder="scoring key 2" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div id="RANK" style="display:none;">
                            <hr />
                            <div class="form-group">
                                <div class="col-md-2"><label class="control-label">No of scoring key</label></div>
                                <div class="col-md-5">
                                    <select id="no-of-key-rank" name="no-of-key-rank" class="form-control" onchange="generate_scoring_key_rank(this.value)">
                                        <option value="2">2 scoring key</option>
                                        <option value="3">3 scoring key</option>
                                        <option value="4">4 scoring key</option>
                                        <option value="5">5 scoring key</option>
                                    </select>
                                </div>
                            </div>
                            <div id="scoring_key_rank">
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5"><label class="control-label">Add Scoring Key</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-1" id="t-scoring-key-1" placeholder="scoring key 1" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="control-label"></label></div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-scoring-key-2" id="t-scoring-key-2" placeholder="scoring key 2" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-2"><label class="control-label">Answer Description</label></div>
                            <div class="col-md-10">
                                <textarea name="answer-description" class="form-control" placeholder="Answer Description" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" name="btn_submit" class="btn btn-default" />
                                <input type="submit" value="Save and Exit" name="btn_submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function show_div(val) {
        if (val == 1) {
            $("#div-ans-display").show();
        }
        else if (val == 2) {
            $('#VKN').show();
            $('#range').hide();
            $('#RANK').hide();
            $("#div-ans-display").hide();
        }
        else if (val == 3) {
            $("#div-ans-display").hide();
            $('#VKN').hide();
            $('#range').show();
            $('#RANK').hide();
        } else if (val == 4) {
            $("#div-ans-display").hide();
            $('#VKN').hide();
            $('#range').hide();
            $('#RANK').show();
        }
        else {
            $("#div-ans-display").show();
            $('#VKN').hide();
            $('#RANK').hide();
            $('#range').hide();
        }

    }

    function generate_scoring_key(val) {
        var scoring_key = '';

        for (var i = 1 ; i <= val ; i++) {
            scoring_key += '  <div class="row"> <div class="col-md-2"><label class="control-label"></label></div>';
            scoring_key += '         <div class="col-md-5">';
            scoring_key += '             <div class="form-group">';
            scoring_key += '                 <textarea class="form-control validate[required]" name="t-scoring-key-' + i + '" id="t-scoring-key-' + i + '" placeholder="scoring key ' + i + '" rows="2"></textarea>';
            scoring_key += '             </div>';
            scoring_key += '          </div>';
            scoring_key += '     </div>';

        }

        $("#scoring_key").empty().append(scoring_key);
    }

    function generate_scoring_key_rank(val) {
        var scoring_key = '';

        for (var i = 1 ; i <= val ; i++) {
            scoring_key += '  <div class="row"> <div class="col-md-2"><label class="control-label"></label></div>';
            scoring_key += '         <div class="col-md-5">';
            scoring_key += '             <div class="form-group">';
            scoring_key += '                 <textarea class="form-control validate[required]" name="t-scoring-key-' + i + '" id="t-scoring-key-' + i + '" placeholder="scoring key ' + i + '" rows="2"></textarea>';
            scoring_key += '             </div>';
            scoring_key += '          </div>';
            scoring_key += '     </div>';

        }

        $("#scoring_key_rank").empty().append(scoring_key);
    }
    function generate_scoring_key_range(val) {
        var scoring_key = '';

        for (var i = 1 ; i <= val ; i++) {
            scoring_key += '  <div class="row"> <div class="col-md-2"><label class="control-label"></label></div>';
            scoring_key += '         <div class="col-md-5">';
            scoring_key += '             <div class="form-group">';
            scoring_key += '                 <textarea class="form-control validate[required]" name="t-scoring-key-' + i + '" id="t-scoring-key-' + i + '" placeholder="scoring key ' + i + '" rows="2"></textarea>';
            scoring_key += '             </div>';
            scoring_key += '          </div>';
            scoring_key += '     </div>';

        }

        $("#scoring_key_range").empty().append(scoring_key);
    }

</script>
