@{
    ViewBag.Title = "ContentTopUSersGMIndex";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

@{
    List<m2ostnext.Models.locationbyuser> list = (List<m2ostnext.Models.locationbyuser>)ViewData["usersdetails"];

}

<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#report-table").dataTable();
    });
</script>

<div class="row clearfix">
    <div class="col-md-12 column">

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">Filtered Result</h4>
                <div align="right" style="padding-top: 0px;margin-top: -22px;margin-bottom: 5px;">
                    <a href="javascript:(0);" onclick="fancybody('ContentReport', 'ContentGraphReportIndex')">
                        <span class="icon-input-btn"><span class="glyphicon glyphicon-stats" style="color: white;"></span>&nbsp;  <input style="margin-bottom: -11px;margin-left: 15px;width: 73px;height: 28px;text-align: right;/* padding-top: 20px; */" type="button" value="Chart" name="btn_chart" class="btn btn-danger" /></span>
                    </a>
                </div>
                @*<span class="icon-input-btn"><span class="glyphicon glyphicon-search"></span> <input type="button" class="btn btn-primary btn-lg" value="Search"></span>*@
            </div>
            <div class="panel-body">
                <table id="report-table" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th width="10%">
                                Location
                            </th>
                            <th width="10%">
                                Username
                            </th>
                            <th width="10%">
                                Content Accessed
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (m2ostnext.Models.locationbyuser reportslist in list)
                        {
                            <tr>
                                <td>
                                    @reportslist.location
                                </td>
                                <td>
                                    @reportslist.counter[0].profile.FIRSTNAME
                                </td>
                                <td>
                                    @reportslist.counter[0].count
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>