@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

<style>
    .small {
        font-size: 10px;
    }
</style>

@{
    List<tbl_category> category = (List<tbl_category>)ViewData["category"];
}
<script>
    $(function () {
        $("#form-add-kpi-upload").validationEngine();
        $("#datetimepicker1").datetimepicker(
           { dateFormat: "dd-mm-yy" }
        );

    });

    $("#form-add-cms-user").submit(function (event) {
        loading_on();
    });

    function getKPIList(val) {
        if (val == "0") {

        } else {
            var url = '@Url.Action("getProgramKPI", "KPI")';

            $.ajax({
                type: 'POST',
                url: url,
                data: { id: val },
                success: function (data) {
                    $("#select-kpi-master").empty().append('<option value="" disabled selected>Select KPI</option>');
                    $("#select-kpi-master").append(data);
                    $("#div-show-upload").hide();
                }
            });
        }
    }

    function showUpload(val) {
        $("#div-show-upload").show();



    }

    function getPreviewSheet() {
        var pid = $("#category-select").val();
        var kpi = $("#select-kpi-master").val();

        var url = '@Url.Action("KPIExcel", "KPI", new { ids ="-1"})';
        url = url.replace('-1', kpi + '|' + pid);


        var win = window.open(url, '_blank');
        if (win) {
            win.focus();
        }
    }

</script>
<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>

<div class="content">
    <div class="col-md-12 column">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">KPI Upload Utility</h4>
            </div>
            <div class="panel-body" style="padding:20px;">
                <div class="form-horizontal">
                    @using (Html.BeginForm("KPIUploadAction", "KPI", FormMethod.Post, new { id = "form-add-kpi-upload", enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h6 class="panel-title">Select Program/Category</h6>
                                    <select class="form-control" id="category-select" name="category-select" onchange="getKPIList(this.value)">
                                        <option value="0" disabled selected>All Program/Category</option>
                                        @foreach (tbl_category item in category)
                                        {
                                            <option value="@item.ID_CATEGORY">@item.CATEGORYNAME</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h6 class="panel-title">Select KPI</h6>
                                    <select class="form-control" id="select-kpi-master" name="select-kpi-master" onchange="showUpload(this.value)"></select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        @*<div id="div-alert-tip">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="color-box space">
                                        <div class="shadow">
                                            <div class="info-tab tip-icon" title="Useful Tips">&nbsp;</div>
                                            <div class="tip-box">
<p>
    Upload Excel file with KPI Score and KPI w.r.t to Category.
</p>
                                                <p>
                                                    Select Date for 
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row" id="div-show-upload" style="display:none;">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-7 ">
                                        <label for="FirstName" class="control-label ">upload KPI value Excel File   :</label>
                                        <input type="text" class="form-control validate[required]" readonly placeholder="Select File" id="txt-select-file" name="txt-select-file" />
                                        <div class="fileUpload btn btn-primary">
                                            <span>browse excel file </span>
                                            <input id="uploadBtn" name="uploadBtn" class="upload" type="file" accept=".xls,.xlsx" onchange="select_file()" />
                                        </div>
                                    </div>

                                    <div class="col-md-4" id="div-preview">
                                        <span>click to download template  </span><br />
                                        <a href="javascript:void(0)" onclick="getPreviewSheet()" class="btn btn-default" id="" name="">download</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    //........excel file valdation.........
    function select_file() {
        var file = $("#uploadBtn")[0].files[0];
        var filename = "";
        if (file) {
            filename = file.name;
            var ext = filename.split('.').pop();
            if (ext == "xls" || ext == "xlsx") {
                $("#txt-select-file").val(filename);
            }
            else {
                file = null;
                $("#txt-select-file").val("");
                $("#msg-txt").html("<p>Please select Only Excel File (.xls,.xlsx)</p>");
                $('#m2ost-dialog').modal('show');
            }
        }
    }





</script>