@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}
<div class="row text-center pad-top">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-circle-o-notch fa-2x"></i>
                <h4>Check Data</h4>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-circle-o-notch fa-2x"></i>
                <h4>Check Data</h4>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="blank.html">
                <i class="fa fa-circle-o-notch fa-2x"></i>
                <h4>Check Data</h4>
            </a>
        </div>
    </div>

</div>