<body class="test">
    <nav class="navbar navbar-default no-margin" style="border-color: #fff; ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-menu-hamburger" style="color: #521E87;" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/Content/images/butterfly-logo.png" style="margin-top: -5px; margin-left: 65px; height: 36px;" />
            </a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                        <span class="glyphicon glyphicon-menu-hamburger" style="color: #521E87;" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
            <div class="header-col" style="margin-bottom: 0px; width: 30%; ">
                <div class="header-col-inner-box">
                    <img src="/Content/images/welcome-sign-icon.gif" style="margin-top: 8px; " width="40" height="34" alt="Welcome">
                </div>
                <div class="header-col-inner-box">
                    <p style="margin: 10px 0px 0px 0px;">
                       
                    </p>
                    <p>
                       
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <div id="wrapper" class="toggle toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="margin-top: -56px;position: fixed !important; ">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <!--<a href="#"><span><i><img src="images/butterfly-logo.png" style="margin-top: 1px;" /></i></span></a>-->
                </li>
                <li>
                    <a href="/Home/Index">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-home" style="font-size: 15px; padding-top: 11px; margin-left: -20px;padding-right: 6px; "></span>
                        </span>home
                    </a>
                </li>
                <li>
                    <a href="/CreateProject/Createproject_Index">
                        <span class="fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-copy" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px;  "></span>
                        </span>create project
                    </a>
                    <!--<ul class="nav-pills nav-stacked" style="list-style-type:none;"><li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li><li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li></ul>-->
                </li>
                <li>
                    <a href="/Myprojects/Projects_index">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-paste" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px; "></span>
                        </span>projects
                    </a>
                </li>
                <li>
                    <a href="/Wallet/MyWallet">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-briefcase" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px;  "></span>
                        </span>wallet
                    </a>
                </li>
                <li>
                    <a href="/Profile/Profile_settings">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-user" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px; "></span>
                        </span>profile
                    </a>
                </li>
                <li>
                    <a href="/Rewards/rewards_home">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-gift" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px; "></span>
                        </span>rewards
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-modal-window" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px; "></span>
                        </span>appointments
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;float:none">
                        <li>
                            <a href="/Home/Googlecalender">
                                <span class="fa-stack fa-lg pull-left" style="font-size: 15px; padding-top: 5px;padding-right: 6px; ">
                                    <i class="fa fa-calendar fa-stack-1x "></i>
                                </span>&nbsp; calendar
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Videocall">
                                <span class="fa-stack fa-lg pull-left" style="font-size: 15px; padding-top: 6px; padding-right: 6px; ">
                                    <i class="fa fa-video-camera fa-stack-1x"></i>
                                </span>&nbsp;video call
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.butterflycrowd.com/">
                        <span class="fa fa-stack fa-lg pull-left">
                            <span class="glyphicon glyphicon-log-out" style="font-size: 15px; padding-top: 11px; margin-left: -17px;padding-right: 6px; "></span>
                        </span>logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-md-12">
                        <!--start profile content here---------------->
                        <div>
                            @RenderBody()
                        </div>
                        <!--start profile content here---------------->
                        <!---foooter start here------------------------>
                        <footer>
                            <div class="container">copyright © 2016 butterfly crowdconsulting llp, registered in mumbai, india all rights reserved.</div>
                        </footer>
                        <!---foooter start here------------------------>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <script src="/Content/js/sidebar_menu.js"></script>
</body>