
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_cms_layout.cshtml";
}

<style>
    .btn-default {
        background-color: #1ab394;
        border-color: #1ab394;
        color: #FFFFFF;
    }
</style>

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="dashboard-middle row clearfix">

            <div class="dashboard-mid-1 col-md-12 column">
                <div class="panel panel-default dashboard_panel">
                    <div class="panel-heading">
                        <h6 class="panel-title">Change Password</h6>
                    </div>
                    <div class="panel-body">
                        @*@using (Html.BeginForm("change_password", "Login", FormMethod.Post, new { id = "form_pass" }))
                        {*@
                            <form id="form_login" method="post" autocomplete="off" action="/form">
                                <div class="modal-body form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label>Current Password</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control validate[required]" id="current_password" name="current_password">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label>New Password</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="password" maxlength="6" class="form-control validate[required]" id="new_password" name="new_password">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <label>Confirm Password</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="password" class="form-control validate[required,equals[new_password]]" id="confirm_password" name="confirm_password">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-sm-6">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                    <input id="btn_Save" name="btn_Save" type="button" value="Save" class="form-control btn btn-default" onclick="form_pass_submit()" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10" style="right: 85px;">
                                                    <input id="btn_close" name="btn_close" type="button" value="Close" class="form-control btn btn-default" onclick="Close()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        @*}*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>



    $(function () {
        $("#form_pass").validationEngine();
    });

    function form_pass_submit() {
        var valid = $("#form_pass").validationEngine('validate');
        if (valid) {
            var form_data = $("#form_pass").serialize();
            var url = '@Url.Action("change_password", "Login")';
            $.post(url, form_data, function (data, sts) {
                if (data.flag) {
                    alert(data.msg);
                    window.location.href = "../dashboard/Index";
                } else {
                    alert(data.msg);
                }
            });
        }
    }

    function Close() {
        window.location.href = "../dashboard/Index";
    }

</script>